.btn-desc {
  height: 25px;
  border: 1px solid #63257a;
  border-radius: 6px;
  background-color: #63257a;
  color: white;
}
.moves-list {
  margin: 5px 0px;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  width: 80px;
  line-height: 80px;
  height: 80px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #9e53be;
  margin: 10px;
  border: 1px solid #842d98;
  background-image: linear-gradient(
    bottom,
    rgb(143, 73, 180) 0%,
    rgb(203, 97, 201) 100%
  );
  border-radius: 6px;
  box-shadow: 0px 6px 0px #63257a, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
}
.square:active {
  background-image: linear-gradient(
    bottom,
    rgb(204, 88, 163) 0%,
    rgb(199, 90, 170) 100%
  );
}

.square:focus{
  outline: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.game-info {
  margin-left: 50px;
}

.status-info {
  margin-top: -20px;
  color: #9e53be;
}